@charset "utf-8";
body{
    font-family: "맑은 고딕", "malgun gothic", sans-serif;
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.parent{
    background: #87ceea;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.parent div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.parent .box1{
    background: #81007f;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.parent .box2{
    background: #ffff00;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 2;
}

.parent .box3{
    background: #fe0000;
    position: absolute;
    left: 200px;
    top: 200px;
    z-index: 3;
}

.parent .box4{
    background: #81007f;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}

.parent .box5{
    background: #ffff00;
    position: absolute;
    right: 100px;
    top: 100px;
    z-index: 2;
}

.parent .box6{
    background: #fe0000;
    position: absolute;
    right: 200px;
    top: 200px;
    z-index: 3;
}

.parent .box7{
    background: #81007f;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}

.parent .box8{
    background: #ffff00;
    position: absolute;
    left: 100px;
    bottom: 100px;
    z-index: 2;
}

.parent .box9{
    background: #fe0000;
    position: absolute;
    left: 200px;
    bottom: 200px;
    z-index: 3;
}

.parent .box10{
    background: #81007f;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.parent .box11{
    background: #ffff00;
    position: absolute;
    right: 100px;
    bottom: 100px;
    z-index: 2;
}

.parent .box12{
    background: #fe0000;
    position: absolute;
    right: 200px;
    bottom: 200px;
    z-index: 3;
}

.parent .box13{
    background: #000000;
    position: absolute;
    left: 400px;
    top: 400px;
    z-index: 4;
}